@import "bourbon";

* {
  @include box-sizing(border-box);
}

body {
 background: #f1f1f1;
 color: #1a1a1a;
 font-family: monospace;
 height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

  .time {
    padding: 40px;
    position: relative;
  }
    .time__input {
      border: none;
      outline: none;
      border-bottom: 1px solid #1a1a1a;
      background: transparent;
      font-size: 3em;
      font-family: inherit;
      line-height: 2;
      width: 100%;
    }
    .time__error {
      display: block;
      padding: 20px 0;
      font-size: 2em;
      color: #e74c3c;
    }
    .time__info {
     display: block;
     padding: 20px 0;
     font-size: 1em;
    }
    .time__results {
      padding: 0; margin: 0;
      list-style: none;
      font-size: 3em;
    }
    .time__credit {
      position: fixed;
      bottom: 40px; right: 40px;
    }

.time-result {
  color: #aaa;
  font-size: 0.5em;
  padding-top: 30px;
  strong {
    color: #1a1a1a;
    display: block;
    font-weight: normal;
    font-size: 2em;
  }
}